body.bodydetalles {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.contenedor-detalles {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.seccion-detalles {
    margin-bottom: 40px;
}

.seccion-detalles h1, h2 {
    color: #b352a1ae;
}

.seccion-detalles h1 {
    font-size: 2rem;
    border-bottom: 2px solid #da47ce;
    padding-bottom: 10px;
}

.seccion-detalles h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.imagenes-detalles {
    display: flex;
    gap: 15px;
}

.imagenes-detalles img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton-detalles {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff00fb;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton-detalles:hover {
    background-color: #828991;
}

section#alojamiento-1, section#galeria-1, section#detalles-reserva-1 {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
